{% extends "tracker/base.html" %}

{% block title %} Login {% endblock %}

{% block login_active %} active {% endblock %}

{% block body %}

    {% if login_error %}
        <p class="col-sm-offset-4">{{ login_error }}</p>
    {% endif %}
    <form class="form-horizontal col-sm-offset-3" action="" method="post" role="form">
        <!-- Security -->
        {% csrf_token %}
        {% include "tracker/form_template.html" %}
        <button type="submit" class="custombtn btn col-sm-offset-3"><a
                style="color: black; font-weight: bold;">Login</a></button>
    </form>

{% endblock %}